.busquedas{
  font-size: 1.5rem;
  line-height: 70px;
  text-align: center;
}
.menuBusquedas {
  font-size: 1.25rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-wrap: wrap;

  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content:space-between;
    
    .busquedasRecuadro {
      background-color: $secondarycolor;
      border-radius: 15px;
      color:black;
      line-height: 1.7rem;
      margin: 1.25rem 0.625rem;
      flex-basis: 11.3rem;

      .button {
        background-color:$colorbutton;
        border-radius: 10%;
        padding-right: 20px;
        padding-left: 20px;
        border: 2px solid blueviolet;
        cursor: pointer;

        &:hover {
          background-color: $colorhover;
        }
      }
    }  
  }
}