.bienvenida {
  word-spacing:30px;
  line-height: 50px;
  font-family:'Rubik Glitch', cursiva; 
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  margin:16px;

  img{
    width: 100%;
  }
}
