@media screen and (max-width: 1400px) {
}   

@media screen and (max-width: 1200px) { 
}

@media screen and (max-width: 1024px) {

  header{
    .logo .nombreConsultora {
      margin: 0;
      padding: 0;
    }

    nav ul li{
      margin: 0;
      padding: 0;
    }  
  }

  .contacto {
    font-size: 1.25rem;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas: 
    "encabezado"
    "formulario"
    "video";
    grid-row-gap: 5px;
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 768px */
@media screen and (max-width: 768px) {
  
  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "logo nombreConsultora"
    "nav nav";
          
    .logo {
      grid-area: logo;
      justify-self: end;
    }

    .nombreConsultora{
      grid-area: nombreConsultora;
    }

    nav{
      grid-area: nav;
    }
  } 

  .menuNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "nosotrosUno"
    "nosotrosDos"
    "nosotrosTres";
    grid-row-gap: 5px;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {  
}

/* MODIFICADO EL PUNTO DE QUIEBRE 425px */
@media screen and (max-width: 425px) {

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "logo"
    "nombreConsultora"
    "menu";

    nav{
      grid-area: menu;
      overflow: hidden;
      
      ul{     
        li{       
          a{
            text-decoration: none;
            cursor:pointer;
            padding: 2px;
            border-radius: 3px;
          }
        }
      }       
    }
  }
  
  #servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "servicioUno servicioDos"
    "servicioTres servicioCuatro"
    "servicioCinco servicioSeis";
  } 

  .menuBusquedas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .contacto{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "encabezado"
    "formulario" 
    "video";
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 320px */
@media screen and (max-width: 320px) {

  header{
    span{
      .logo a img{
        width:40px;
        margin-top: 30px;
        margin-left: 130px;
      }
    }
  }

  main{
    ul{
      #servicios {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "servicioUno"
        "servicioDos"
        "servicioTres"
        "servicioCuatro"
        "servicioCinco";
      } 
    }

    section{
      .menuBusquedas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat (8, 1fr);
      }
    }
  }
}