#servicios {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "servicioUno servicioDos servicioTres"
  "servicioCuatro servicioCinco servicioSeis";
  grid-column-gap: 5px;
  
  .servicioUno {
    grid-area: servicioUno;
      
    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }
  
    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    }
  }

  .servicioDos{
    grid-area: servicioDos;

    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }
  
    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    }
  }

  .servicioTres{
    grid-area: servicioTres;

    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }

    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    }
  }

  .servicioCuatro{
    grid-area: servicioCuatro;

    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }

    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    } 
  }

  .servicioCinco{
    grid-area: servicioCinco;

    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }

    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    }
  }    

  .servicioSeis{
    grid-area: servicioSeis;

    .serviciosTitulo {
      color: $colortitulos;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px;
    }

    .serviciosParrafo {
      background-color: $secondarycolor;
      border-radius: 10%;
      padding: 15px;
    }
  }    
} 