$principalcolor:rgb(1, 206, 209);
$secondarycolor: rgb(241, 156, 125);
$colornombre: rgba(250, 102, 49, 0.747);
$colortitulos: darkmagenta;
$colorbutton: rgba(255, 127, 80, 0.425);
$colorhover: rgb(223, 88, 39);