* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::selection {
    color: violet;
    background-color: teal; }

a {
  text-decoration: none;
  list-style-type: none; }

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 5px;
  grid-column-gap: 5px; }

header {
  background: #01ced1;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 1;
  position: sticky; }
  header .logo {
    height: 140px; }
  header .nombreConsultora {
    flex-basis: 20%;
    font-size: 1rem;
    color: rgba(250, 102, 49, 0.747);
    font-family: Georgia, 'Times New Roman', Times, serif; }
    header .nombreConsultora::first-letter {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  header nav {
    flex-basis: 60%; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      line-height: 40px; }
      header nav ul li {
        font-weight: bold;
        text-align: center;
        align-content: center;
        list-style: none;
        border-radius: 3px; }
        header nav ul li:nth-child(5) a {
          color: beige; }
        header nav ul li a {
          display: block;
          text-decoration: none;
          cursor: pointer;
          border-radius: 3px;
          text-align: center;
          font-size: 1.25rem; }
          header nav ul li a:hover {
            color: whitesmoke;
            background-color: #fd895f;
            transition: 0.5s; }

main {
  grid-area: main; }

footer {
  background-color: #01ced1;
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  footer div .footer {
    font-size: 0.8rem;
    color: black; }
  footer div .iconos {
    height: 30px;
    margin: 5px; }

.bienvenida {
  word-spacing: 30px;
  line-height: 50px;
  font-family: 'Rubik Glitch', cursiva;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  margin: 16px; }
  .bienvenida img {
    width: 100%; }

.menuNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nosotrosUno nosotrosDos nosotrosTres";
  grid-column-gap: 5px;
  margin: 16px; }
  .menuNosotros .nosotros {
    background-color: #f19c7d;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .menuNosotros .nosotros .nosotrosImagen {
      width: 100%;
      height: 50%; }
    .menuNosotros .nosotros .nosotrosTitulo {
      color: darkmagenta;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .menuNosotros .nosotros .nosotrosParrafo {
      text-align: justify;
      color: black; }
  .menuNosotros .nosotrosUno {
    grid-area: nosotrosUno; }
  .menuNosotros .nosotrosDos {
    grid-area: nosotrosDos; }
  .menuNosotros .nosotrosTres {
    grid-area: nosotrosTres; }

#servicios {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "servicioUno servicioDos servicioTres" "servicioCuatro servicioCinco servicioSeis";
  grid-column-gap: 5px;
  margin: 16px; }
  #servicios .servicioUno {
    grid-area: servicioUno; }
    #servicios .servicioUno .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioUno .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }
  #servicios .servicioDos {
    grid-area: servicioDos; }
    #servicios .servicioDos .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioDos .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }
  #servicios .servicioTres {
    grid-area: servicioTres; }
    #servicios .servicioTres .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioTres .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }
  #servicios .servicioCuatro {
    grid-area: servicioCuatro; }
    #servicios .servicioCuatro .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioCuatro .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }
  #servicios .servicioCinco {
    grid-area: servicioCinco; }
    #servicios .servicioCinco .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioCinco .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }
  #servicios .servicioSeis {
    grid-area: servicioSeis; }
    #servicios .servicioSeis .serviciosTitulo {
      color: darkmagenta;
      list-style-type: none;
      font-weight: bold;
      line-height: 50px; }
    #servicios .servicioSeis .serviciosParrafo {
      background-color: #f19c7d;
      border-radius: 10%;
      padding: 15px; }

.busquedas {
  font-size: 1.5rem;
  line-height: 70px;
  text-align: center; }

.menuBusquedas {
  font-size: 1.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-wrap: wrap; }
  .menuBusquedas div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; }
    .menuBusquedas div .busquedasRecuadro {
      background-color: #f19c7d;
      border-radius: 15px;
      color: black;
      line-height: 1.7rem;
      margin: 1.25rem 0.625rem;
      flex-basis: 11.3rem; }
      .menuBusquedas div .busquedasRecuadro .button {
        background-color: rgba(255, 127, 80, 0.425);
        border-radius: 10%;
        padding-right: 20px;
        padding-left: 20px;
        border: 2px solid blueviolet;
        cursor: pointer; }
        .menuBusquedas div .busquedasRecuadro .button:hover {
          background-color: #df5827; }

.contacto {
  font-size: 1.25rem;
  line-height: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "encabezado encabezado" "formulario video";
  grid-column-gap: 5rem;
  margin: 1rem; }
  .contacto .encabezadoContacto {
    font-family: 'Rubik Glitch', cursiva;
    font-weight: 600;
    text-align: center;
    grid-area: encabezado; }
  .contacto section form {
    width: 100%;
    color: black;
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0.125rem;
    box-shadow: inset 0 -3em 3em rgba(243, 88, 49, 0.753), 0 0 0 2px rgba(167, 19, 180, 0.527), 0.3em 0.3em 1em rgba(229, 123, 233, 0.952);
    align-self: center;
    justify-self: center; }
    .contacto section form fieldset div .itemForm {
      margin: 1rem; }
    .contacto section form fieldset div .inputContacto {
      padding: 1% 5% 1% 4%; }
    .contacto section form fieldset .casillasForm {
      margin: 1rem; }
    .contacto section form .textAreaForm {
      height: 6.25rem; }
    .contacto section form .casillasForm {
      margin: 1rem; }
    .contacto section form .botonesForm {
      background-color: rgba(255, 127, 80, 0.425);
      padding: 0.3rem;
      border-radius: 0.6rem;
      color: aliceblue;
      cursor: pointer; }
      .contacto section form .botonesForm:hover {
        background-color: #df5827;
        transform: translate(20px); }
  .contacto .videoContacto {
    grid-area: video;
    align-self: center;
    justify-self: center;
    width: 100%; }

/* MODIFICADO EL PUNTO DE QUIEBRE 1024px */
@media screen and (max-width: 1024px) {
  header .logo .nombreConsultora {
    margin: 0;
    padding: 0; }
  header nav ul li {
    margin: 0;
    padding: 0; }
  .contacto {
    font-size: 1.25rem;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas: "encabezado" "formulario" "video";
    grid-row-gap: 5px; } }

/* MODIFICADO EL PUNTO DE QUIEBRE 768px */
@media screen and (max-width: 768px) {
  header {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "logo nombreConsultora" "nav nav"; }
    header .logo {
      grid-area: logo;
      padding-left: 25%;
      padding-top: 1%; }
    header .nombreConsultora {
      grid-area: nombreConsultora; }
    header nav {
      grid-area: nav; }
  .menuNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nosotrosUno" "nosotrosDos" "nosotrosTres";
    grid-row-gap: 5px; } }

/* MODIFICADO EL PUNTO DE QUIEBRE 425px */
@media screen and (max-width: 425px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "logo" "nombreConsultora" "menu"; }
    header .logo {
      padding-left: 35%; }
    header .nombreConsultora {
      text-align: center; }
    header nav {
      grid-area: menu; }
      header nav ul {
        flex-wrap: wrap;
        justify-content: space-evenly; }
        header nav ul li a {
          text-decoration: none;
          cursor: pointer;
          border-radius: 3px;
          margin: 5px; }
  #servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "servicioUno servicioDos" "servicioTres servicioCuatro" "servicioCinco servicioSeis";
    margin: 0px; }
  .menuBusquedas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; }
  .contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "encabezado" "formulario"  "video";
    grid-row-gap: 1rem; } }

/* MODIFICADO EL PUNTO DE QUIEBRE 375px */
@media screen and (max-width: 375px) {
  ul #servicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "servicioUno" "servicioDos" "servicioTres" "servicioCuatro" "servicioCinco" "servicioSeis"; }
  section .menuBusquedas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 8, 1fr; }
    section .menuBusquedas div {
      padding: 0%;
      margin: 0%; }
  .contacto {
    margin: 0;
    padding: 0;
    justify-self: center; }
    .contacto .encabezadoContacto {
      font-weight: normal; } }

/* MODIFICADO EL PUNTO DE QUIEBRE 320px */
@media screen and (max-width: 320px) {
  #servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "servicioUno"  "servicioDos" "servicioTres" "servicioCuatro" "servicioCinco"  "servicioSeis";
    grid-row-gap: 0px;
    margin: 2px;
    padding: 2px; }
  .busquedas {
    text-align: center; }
  .menuBusquedas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr); }
  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, 1fr, 1fr;
    grid-template-areas: "encabezado"  "formulario"  "video"; }
    .contacto .encabezadoContacto {
      flex-wrap: nowrap;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr,1fr;
      flex-direction: column;
      justify-content: center; }
    .contacto section form {
      width: 80%; }
    .contacto .videoContacto {
      width: 80%;
      margin: 0; } }
